<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <servlet>
    <description></description>
    <display-name>ToRegister</display-name>
    <servlet-name>ToRegister</servlet-name>
    <servlet-class>Hotel.ToRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToRegister</servlet-name>
    <url-pattern>/ToRegister</url-pattern>
  </servlet-mapping>
  <display-name>HotelManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ToLogin</display-name>
    <servlet-name>ToLogin</servlet-name>
    <servlet-class>Hotel.ToLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToLogin</servlet-name>
    <url-pattern>/ToLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToReserve</display-name>
    <servlet-name>ToReserve</servlet-name>
    <servlet-class>Hotel.ToReserve</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToReserve</servlet-name>
    <url-pattern>/ToReserve</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ToCancel</display-name>
    <servlet-name>ToCancel</servlet-name>
    <servlet-class>Hotel.ToCancel</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ToCancel</servlet-name>
    <url-pattern>/ToCancel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Available</display-name>
    <servlet-name>Available</servlet-name>
    <servlet-class>Hotel.Available</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Available</servlet-name>
    <url-pattern>/Available</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewRoom</display-name>
    <servlet-name>NewRoom</servlet-name>
    <servlet-class>Hotel.NewRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewRoom</servlet-name>
    <url-pattern>/NewRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveRoom</display-name>
    <servlet-name>RemoveRoom</servlet-name>
    <servlet-class>Hotel.RemoveRoom</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveRoom</servlet-name>
    <url-pattern>/RemoveRoom</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Occupancy</display-name>
    <servlet-name>Occupancy</servlet-name>
    <servlet-class>Hotel.Occupancy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Occupancy</servlet-name>
    <url-pattern>/Occupancy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Extension</display-name>
    <servlet-name>Extension</servlet-name>
    <servlet-class>Hotel.Extension</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Extension</servlet-name>
    <url-pattern>/Extension</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Complaint</display-name>
    <servlet-name>Complaint</servlet-name>
    <servlet-class>Hotel.Complaint</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Complaint</servlet-name>
    <url-pattern>/Complaint</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOut</display-name>
    <servlet-name>LogOut</servlet-name>
    <servlet-class>Hotel.LogOut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOut</servlet-name>
    <url-pattern>/LogOut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCust</display-name>
    <servlet-name>DeleteCust</servlet-name>
    <servlet-class>Hotel.DeleteCust</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCust</servlet-name>
    <url-pattern>/DeleteCust</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateComp</display-name>
    <servlet-name>UpdateComp</servlet-name>
    <servlet-class>Hotel.UpdateComp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateComp</servlet-name>
    <url-pattern>/UpdateComp</url-pattern>
  </servlet-mapping>
</web-app>